.main-container-homepage-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: whitesmoke;
    height: 8vh;
    width: 100%;
}

.main-container-homepage-header-left{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 20%;
    align-items: center;
}

#travel{
    height: 5vh;
    margin: 5px;
}

#btntravel{
    margin-left: 10px;
    height: 5vh;
}

.main-container-homepage-header-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    justify-content: center;
}

.flight{
    padding: 10px;
    font-size: 1.5rem;
}

.bus{
    padding: 10px;
    font-size: 1.5rem;
}

.train{
    padding: 10px;
    font-size: 1.5rem;
}

.main-container-homepage-header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    width: 20%;
    justify-content: center;
}

.log{
    padding: 5px;
    font-size: 1.5rem;
    text-decoration: none;
}

text{
    text-decoration: none;
}

