.body{
    background-image: linear-gradient(to left, blue, violet);
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1{
    height: 80vh;
    width: 40vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 4px #888888;
    border-radius: 5px;
}

.head1{
    background-color: black;
    font-size: 1.5rem;
    color: whitesmoke;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.registern{
    color: violet;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}



.flex {
    display: flex;
    flex-direction: row;
}


.input-text{
    margin: 5px !important;
}